ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: slategray;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family: "cooperplate";
}
.logo {
  display: inline-block;
  vertical-align: top;
  width: 3%;
  height: 3%;
  margin-left: 20px;
}
.name {
  color: whitesmoke;
  text-align: center;
  padding: 15% 20% 0% 38%;
  text-decoration: none;
  font-size: 35px;
}

li {
  float: right;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: slategray;
}
